<footer id="footer" class="footer">
    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <%= link_to root_path, class: "logo d-flex align-items-center" do %>
            <span class="sitename">iLanding</span>
          <% end %>
          <div class="footer-contact pt-3">
            <p>A108 Adam Street</p>
            <p>New York, NY 535022</p>
            <p class="mt-3"><strong>Phone:</strong>
              <span>+1 5589 55488 55</span></p>
            <p><strong>Email:</strong> <span>info@example.com</span></p>
          </div>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><%= link_to "Home", '#' %></li>
            <li><%= link_to "About us", '#' %></li>
            <li><%= link_to "Services", '#' %></li>
            <li><%= link_to "Terms of service", '#' %></li>
            <li><%= link_to "Privacy policy", '#' %></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><%= link_to "Web Design", '#' %></li>
            <li><%= link_to "Web Development", '#' %></li>
            <li><%= link_to "Product Management", '#' %></li>
            <li><%= link_to "Marketing", '#' %></li>
            <li><%= link_to "Graphic Design", '#' %></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Hic solutasetp</h4>
          <ul>
            <li><%= link_to "Molestiae accusamus iure", '#' %></li>
            <li><%= link_to "Excepturi dignissimos", '#' %></li>
            <li><%= link_to "Suscipit distinctio", '#' %></li>
            <li><%= link_to "Dilecta", '#' %></li>
            <li><%= link_to "Sit quas consectetur", '#' %></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Nobis illum</h4>
          <ul>
            <li><%= link_to "Ipsam", '#' %></li>
            <li><%= link_to "Laudantium dolorum", '#' %></li>
            <li><%= link_to "Dinera", '#' %></li>
            <li><%= link_to "Trodelas", '#' %></li>
            <li><%= link_to "Flexo", '#' %></li>
          </ul>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span>
        <strong class="px-1 sitename">iLanding</strong>
        <span>All Rights Reserved</span></p>
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        Distributed By <a href="https://themewagon.com">ThemeWagon</a>
      </div>
    </div>
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
</footer>

<%= javascript_include_tag "vendor/bootstrap/js/bootstrap.bundle.min.js", "data-turbo-track": "reload", defer: true %>
<%= javascript_include_tag "vendor/aos/aos.js", "data-turbo-track": "reload", defer: true %>
<%= javascript_include_tag "vendor/glightbox/js/glightbox.min.js", "data-turbo-track": "reload", defer: true %>
<%= javascript_include_tag "vendor/swiper/swiper-bundle.min.js", "data-turbo-track": "reload", defer: true %>
<%= javascript_include_tag "js/main.js", "data-turbo-track": "reload", defer: true %>

